@font-face {
    font-family: 'museo-sans';
    src: url('museo-sans/MuseoSans-300.otf') format('opentype');
    src: url('museo-sans/MuseoSans_700.otf') format('opentype');
    src: url('museo-sans/MuseoSans_900.otf') format('opentype');
}

*, * :before, * :after {
    box-sizing: inherit;
    -webkit-user-select: inherit;
    user-select: inherit;
    -webkit-user-drag: inherit;
    -webkit-tap-highlight-color: inherit;
    backface-visibility:inherit;
}

* {
    margin: 0;
    padding:0;
}

html {
    line-height: 1;
    box-sizing: border-box;
    -webkit-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0);
}

a {
    color: #002328;
    text-decoration: none;
    transition: all 0.2s linear;
}

._alt {
    color: #ffffff;
    text-decoration: none;
    transition: all 0.2s linear;
}

a:hover {
    color: #0c8066;
}

._alt:hover {
    color: #002328;
}

ul, li {
    display: inline-block;
    margin-left: 30px;
    margin-right: 71px;
    margin-top: 1%;
    font-family: 'museo-sans', sans-serif;
    font-size: 14px;
    font-weight: 300;
}

:root {
    --gradient: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,35,40,1) 0%, rgba(4,65,60,1) 20%, rgba(6,79,69,1) 40%, rgba(8,94,79,1) 60%, rgba(10,112,91,1) 80%, rgba(12,128,102,1) 100%);
    --bg: #ffffff;
    --font-color: #ffffff;
    --accents: #FCF300;
    --pad: max(20px, 4vmin);
}

@media (prefers-color-scheme: dark) {
    :root {
        --gradient: radial-gradient(100% 100%,#000000 10%, #1A0084 50%, #0A0903 70%);
        --bg: rgb(255, 255, 255);
        --font-color: #F9F9F9;
        --accents: #00ffee;
    }
}

body {
    background: #000000;
    height: 100vh;
    font-feature-settings: "palt";
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overscroll-behavior: auto;
}

/* [class*="col"]  * + *,
[class*="container"] > .row{
  margin-top: 0;
  margin-bottom: 1.5em;
} */

h1, h2, h3 {
    font-family: "museo-sans";
}

p {
    font-family: "museo-sans";
    font-weight: 300;
    font-size: 12px;
    color: var(--font-color);
}

section {
    display: relative;
    width: 100%;
    height: 100vh;
    /* Scroll Snap */
    scroll-snap-align: center;
  }

#_landing {
    background: var(--gradient);
}

.site_header {
    background-color: var(--font-color);
}

.site_header_inner {
    display: inline-flex;
    margin-top: 0.5%;
    margin-left: 1.8%;
}

.site_logo {
    height: 59px;
    width: 127px;
}

.bold_heading {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    color: var(--font-color);
    padding: 25px;
    margin-left: 1.8%;
}

._slogan {
    position: absolute;
    right: 18%;
    word-break:normal;
    max-width: 100px;
    text-align: right;
}

.hero_wrapper {
    transition: transform .5 ease;
}

.site_hero {
    position: absolute;
    border-radius: 0px 200px 15px 0px;
    margin-left: -62px;
    height: 526px;
    width: 935px;
    cursor: pointer;
    overflow: hidden;
    filter: blur(0px);
    -webkit-filter: blur(0px);
    transition: transform .5s ease;
}

.hero_wrapper:hover .site_hero {
    transform: scale(1.05);
    filter: blur(2px);
    -webkit-filter: blur(2px);
}

._hero_description {
    position: absolute;
    font-family: "museo-sans";
    font-size: 50px;
    left: calc(var(--pad) * 1.5);
    bottom: 45%;
    color: var(--font-color);
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    transition: opacity .2s ease-in-out, visibility .2s;
}

.hero_wrapper:hover ._hero_description {
    visibility: visible;
    opacity: 1;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .8s ease;
}

.main_link {
    position: absolute;
    right: 10%;
    margin-top: 36%;
    font-size: 30px;
    font-weight: 300;
}

/* Dark/light mode selector */

.theme {
    position: fixed;
    z-index: 10;
    transform: scale(0.5);
    -webkit-transform: scale(.5);
    left: calc(var(--pad) * 1.5);
    margin: -0.1em 0 0 -0.04em;
    bottom: var(--pad);
    transform-origin: left bottom;
    white-space: nowrap;
    mix-blend-mode: normal;
    display: flex;
    column-gap: 15px;
    cursor:pointer;
}

@media (min-width: 1280px) {
    .theme {
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        left: calc(var(--pad) * 2);
    }
}

.theme_color {
    display: flex;
    column-gap: 3px;
    font-family: "museo-sans";
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
    color: var(--font-color);
    text-transform: uppercase;
    pointer-events:none;
}

@media (min-width: 1280px) {
    .theme_color {
        font-size: 18px;
    }
}

.theme_color ._cbox {
    font-size: 18px;
    margin-top: -1px;
}

.theme_color ._cbox::before {
    content: "□";
}

.theme_color.is-selected ._cbox::before {
    content: "■";
}

@media (min-width: 1280px) {
    .theme_color ._cbox {
        font-size: 34px;
        margin-top: -8.5px;
    }
}

/* Accessibility tools sticky */

.accs_tools {
    position: fixed;
    display: grid;
    background-color: var(--bg);
    left: calc(var(--pad) * 1.5);
    margin: -0.1em 0 0 -0.04em;
    bottom: var(--pad);
    z-index: 5;
}

.accs_tools_content {
    opacity: 0;
}

.accs_tools:hover .accs_tools_content {
    opacity: 1;
}

.accs_icon {
    height: 30px;
    width: 30px;
}

/* Scroll arrow */

._downarrow {
    font-family: "museo-sans";
    font-size: 30px;
    font-weight: 300;
    color: var(--font-color);
    position: absolute;
    left: 48%;
    bottom: 2.5%;
    animation: bounce 5s infinite;
    -webkit-animation: bounce 5s infinite;
    animation-delay: 10s;
    -webkit-animation-delay: 10s;
}

/* ._downarrow:hover {
    
} */

/* bento style website navigation panel */

#_bento {
    background-color: #0C8066;
}

.bento_heading {
    position: relative;
    font-size: 40px;
    font-weight: 900;
    color: var(--font-color);
    padding: 25px;
    margin-left: 1.8%;
}

.bento_container {
    position: flex;
    margin-left: 3.4%;
    width: 100%;
}

.bento_boxes {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    gap: 10px;
    transition: transform ease .5s ease;
    max-width: 75%;
}

._box {
    display: table;
    padding: 25px;
    background: rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.7px);
    -webkit-backdrop-filter: blur(6.7px);
    border: 1px solid rgba(255, 255, 255, 0.91);
    transition: transform .5s ease;
}

._box:hover {
    transform: scale(1.05);
}

.bento_header {
    font-size: 20px;
    font-weight: 300;
    margin: 5px;
    color: var(--font-color);
    position: relative;
}

.bento_info {
    margin: 5px;
    position: relative;
}